.SearchModal {
    width: 35%;
    text-align: center;
    margin: 7% auto auto;
    box-shadow: 2px 2px 11px 2px #245a7a8f;
    border: 2px solid #000;
    /*display: inline-grid;*/
    align-items: center;
    justify-content: center;
    background-color: white;
}
